

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;


}

.dark{
  background-color: black;
  color: white;
  transition: background-color 500ms linear;
}

.light{
  background-color: rgb(247, 246, 246);
  color: rgb(0, 0, 0);
  transition: background-color 500ms linear;
}



.loader{
  margin-top: 20%;
}


